.tasklist {
  background-color: #f5f5f5;
  padding: 8px 16px;
  border-radius: 8px;
  width: 468px;
  height: 273px;

  display: flex;
  flex-direction: column;

  &-header {
    padding: 2px 8px;

    hr {
      width: 100%;
      border: none;
      border-top: 1px solid #ccc;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-height: 0;
  }

  &-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .tasklist-button {
      background-color: #b3b1b1;
      color: rgb(0, 0, 0);
      border: none;
      padding: 8px 16px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
        color: #f5f5f5;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1; 
    min-height: 0;

    &--list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      overflow-y: auto; 
      min-height: 0;
      margin-bottom: 12px;
    }

    &--item {
      display: flex;
      flex-direction: row;
      background-color: #f5f5f5;
      padding: 15px;
      border-radius: 4px;
      box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
      justify-content: space-between;

      h3 {
        margin: 0 0 5px 0;
        font-size: 18px;
      }

         p {
          margin: 0;
          color: #666;
         }
    }
  }
}